

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--body-bg-color);
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
  }

.sidebar{
    position: fixed;
    width: 78px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--green);
    padding: 6px 14px;
    transition: all 0.5s ease-in-out;
}

.sidebar .logoBox .logo{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    opacity: 0;
    pointer-events: auto;
    transition: all 0.5s ease
}

.sidebar .linksName {
    opacity: 0;
    /*pointer-events: none; */
    transition: all 0.3s ease-in-out;
}

.sidebar .logoContent .logo img {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar .menu {
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    list-style: none;
}

.sidebar ul li input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: var(--light-green);
    padding-left: 50px;
    font-size: 18px;
}

.sidebar ul li #lupa {
    position: absolute;
    font-size: 22px;
    color: var(--light-green);
    z-index: 999;
    cursor: pointer;
}

.sidebar ul li #lupa:hover {
    color: var(--text-color);
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.5s ease   
}

.sidebar ul li a:hover{
    color: var(--text-color);
    background-color: var(--light-grey);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.500);
}

.sidebar ul li img{
    min-width: 50px;
    height: 24px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}


input::placeholder{
    color: var(--text-color);
}


#lupa {
    position: absolute;
    left: 0;
    height: 42px;
    top: 4px;
    padding: 9px 11px;
    color: var(--text-color);
    transition: .4s;
}

.sidebar .profileContent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
}

.sidebar .profileContent .profile{
    position:relative;
    height: 60px;
    padding: 10px 6px;
    background-color: var(--light-green)
}

.sidebar .profileContent .profile .profileDetail{
    display: flex;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease
}

.sidebar .profileContent .profile .profileDetail img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.sidebar .profileContent .profile .profileDetail .name_job{
    margin-left: 15px;
}

.profile .profileDetail .name_job .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profileDetail .name_job .job{
    font-size: 12px;
}

.profile #logout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 18px;
    min-width: 24px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;

}

.homeContent {
    position: absolute;
    top: 0;
    left: 78px;
    width: calc(100% - 300px);
    transition: all 0.5s ease-in-out;
}

.homeContent h2{
    margin: 15px;
    font-size:25px;
    font-weight: 400;
    color: var(--text-color);
}

.toolipe{
    position: absolute;
    top: 0;
    left: 122px;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 35px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.500);
    text-align: center;
    color: var(--text-color);
    line-height: 35px;
    transition: 0;
    opacity: 0;
}

.sidebar ul li:hover .toolipe{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar.active{
    width: 300px;
}



.homeContent.active{
    left: 300px;
}

.sidebar.active .logoBox .logo{
    opacity: 1;
}

.sidebar.active .menu {
    left: 90%;
}

.sidebar.active .linksName {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profileContent .profile .profileDetail {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profile #logout {
    left: 90%;
}

.sidebar.active .toolipe {
    display: none;
}